body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

footer {
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

button {
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    margin: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}